/* ---- Header contents */
.Header__content {
  position: relative;
  width: 100%;
}
.Header__content > video {
  width: 100%;
}
/* .Header__content >video */

.Header__content-description {
  position: absolute;
  top: 0;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid green; */
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  z-index: 100;
  /* background-color: rgba(0, 0, 0, 0.6); */
  /* margin: 50px auto; */
}

.Header__content-description::after {
  position: absolute;
  top: 0%;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: -1;
}

.Header__content-description .company-name {
  font-size: min(8vw, 6rem);
  margin: -1rem auto 0.25rem auto;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.Header__content-description .company-slogan {
  margin: 0.65rem auto 0.85rem auto;
  font-size: min(2.5vw, 3rem);
  /* font-size: rem; */
}
.Learn__more-btn {
  width: minmax(29vw, 14rem);
  height: min(2.25rem, 5.5vh);
  text-align: center;
  font-size: 1rem;
  margin: 0.5rem;
  padding: 0 1rem;
  /* box-sizing: 0px 0px 10px 10px rgba(255, 255, 255, 0.4); */
}
/* -------- Header style ends here */

/* ----- welcome section style starts here */
.welcome__section-wrapper {
  width: 75%;
  margin: 6rem auto;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  gap: 1.5rem;
  /* justify-content: space-between; */
}

.welcome__section-wrapper > div:last-child {
  width: 50%;
}
.welcome__section-leftImage {
  width: 45%;
  padding: 0 10px;
}
.welcome__section-leftImage img {
  width: 100%;
  margin: 0px auto;
  height: 475px;
}
.welcome__section-rightDescription .welcome-header {
  font-size: min(4rem, 7vw);
  margin: 0.5rem auto 1rem;
}
.welcome__section-rightDescription .welcome-title {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 500;
}
.welcome__section-rightDescription .welcome-description {
  width: 90%;
  text-align: justify;
  text-transform: lowercase;
  line-height: 1.25rem;
}
.welcome__section-rightDescription button.welcome-about-btn {
  width: 10rem;
  height: 3rem;
  display: block;
  margin: 3rem auto;
  color: white;
}

/* ----- welcome section style ends here */
/* ----- services  style starts here */

.services__section-wrapper {
  width: 90%;
  margin: 4.25rem auto;
  /* border: 2px solid red; */
  height: max-content;
}
.services__section-wrapper .services-header {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 2rem;
}
.services_content-flex {
  margin: 4rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}
.services_content-flex > div {
  width: 285px;
  height: 350px;

  position: relative;
}
.services_content-flex > div > img {
  width: 100%;
  height: 100%;
  box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.2);
}

.services_content-flex > div:hover {
  scale: 1.1;
  transition: all 0.25s ease-in;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

.services_content-flex > div > div {
  position: absolute;
  left: 0;
  width: 100%;
  border: 1px;
  bottom: 20px;
}
.services_content-flex > div > div > a {
  display: block;
}
.services_content-flex > div > div > a > button {
  height: 3rem;
  width: min(8rem, 70%);
  margin: auto;
  display: block;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
  color: white !important;
  font-size: 1rem;
}
.service-description {
  text-align: center;
}

/* ----- services section style ends here */
/* ----- news section style starts here */

.news__section-wrapper {
  width: 90%;
  margin: 6.25rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  /* border: 1px solid black; */
  padding: 20px 0 20px 40px;
}
.news__section-wrapper .news__section-leftside {
  width: 40%;
}
.news-header {
  font-size: 3rem;
  margin-bottom: 1.25rem;
}
.news-description {
  text-transform: lowercase;
  margin-bottom: 1.5rem;
  width: 90%;
  text-align: justify;
}

.news-btn {
  width: 10rem;
  height: 3rem;
}

.news__section-wrapper .news__section-rightside {
  width: 60%;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  gap: 3rem;
}

/* scroll bar */
.news__section-wrapper ::-webkit-scrollbar {
  width: 12px;
}
.news__section-wrapper ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: rgba(0, 0, 0, 1);
}

.news__section-rightside > img {
  width: 280px;
  height: 250px;
  border-radius: 2rem;
  margin-bottom: 1.5rem;
}

/* ----- news section style ends here */

/* ----- partners section style starts here */
.partners__section-wrapper {
  margin: 5.25rem auto;
  padding: 5px 20px;
}
.partners-header {
  font-size: 3rem;
  margin: 0rem auto 1rem 3rem;
}
.partner-title {
  text-align: center;
  font-size: 1.15rem;
}
.partners__content-flex {
  display: flex;
  align-items: center;
}
.partner-scrolable-flex {
  width: 75%;
  /* border: 2px solid red; */

  display: flex;
  align-items: center;
  gap: 8rem;
  overflow-x: hidden;
  justify-content: center;
  margin: 3rem auto;
  /* transition: 2s ease; */
}
.partner-scrolable-flex > img {
  /* width: 450px !important; */
  height: 150px !important;
  transition: 0.5s ease;
}
/* ----- partners section style ends here */

@media screen and (0<width<725px) {
  .welcome__section-wrapper {
    flex-direction: column;
    text-align: center;
  }
  .welcome__section-wrapper > div {
    width: 100% !important;
    margin: 0 auto;
  }
  .welcome-description {
    margin: auto;
    width: 100%;
  }
  .welcome__section-leftImage > img {
    height: 390px;
  }
  .news__section-wrapper {
    flex-direction: column;
  }
  .news__section-wrapper > div {
    width: 90% !important;
  }
  .news__section-wrapper > div > p {
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
  }
  .partner-scrolable-flex {
    width: 85% !important;
    justify-content: center;
  }
}
@media screen and (width>1045px) {
  .services_content-flex > div:nth-child(2) {
    scale: 1.08;
  }
}
